/*Variables Globales*/

$fondo-header-footer: #a75980;
$fondo-texto-articulos: #a14e777a;
$color-texto-oscuro: rgba(0, 0, 0, 0.678);
$color-texto-principal: white;

/*Paleta de Colores:
header y footer:  #a75980
Texto: blanco 
Texto de libros: rgba(0, 0, 0, 0.678)
Fondo de texto articulo: #a14e777a
*/

