/*Variables*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$typo-main: Georgia, 'Times New Roman', Times, serif;
$typo-header-footer: 'Poppins', sans-serif;
$typo-titulos: 'Merriweather', serif;

/*Fonts:
Texto del main: font-family:Georgia, 'Times New Roman', Times, serif;
Menu de navegacion y footer: font-family: 'Poppins', sans-serif;
Titulos: font-family: 'Merriweather', serif;
*/